<% if current_user.is_name_public %>
  <%= link_to current_user.short_name, current_user %>
<% else %>
  <%= current_user.short_name %>
<% end %>

<% if not current_user.political_party.empty? %>
  <% if    current_user.political_party == 'PSD' or current_user.political_party == 'PPD/PSD' %>
    <span class="badge bkg-orange">
  <% elsif current_user.political_party == 'CDS' or current_user.political_party == 'CDS-PP' %>
    <span class="badge bkg-blue">
  <% elsif current_user.political_party == 'PS' %>
    <span class="badge bkg-pink">
  <% elsif current_user.political_party == 'PCP' %>
    <span class="badge bkg-red">
  <% elsif current_user.political_party == 'BE' %>
    <span class="badge bkg-inverse">
  <% elsif current_user.political_party == 'PEV'   or
           current_user.political_party == 'LIVRE' or
           current_user.political_party == 'PAN'   or
           current_user.political_party == 'MPT' %>
    <span class="badge bkg-green">
  <% else %>
    <span class="badge">
  <% end %>
  <%= current_user.political_party %></span>
<% end %>
