<% provide(:title, "Propostas da dimensão: #{params[:tag]}") %>

<div class="row">
  <div class="span12">

    <h1>Propostas da dimensão "<%= params[:tag] %>"</h1>

    <p><%= link_to '<button class="btn btn-success pull-right">Criar proposta</button>'.html_safe, new_proposal_path %></p>
    <br><br><br>

    <% if @proposals.empty? %>
        <p class="text-center">Não foram encontradas propostas.</p>
      <% else %>
        <ul>
          <%= render @proposals %>
        </ul>
    <% end %>

  </div>
</div>
