<% provide(:title, 'Dimensões') %>

<div class="row">
  <div class="span12">

    <h1>Dimensões</h1>

    <p>O Portugal Agora foca-se em três dimensões - Portugal Atractivo, Portugal do Conhecimento e Portugal Empreendedor. Agrupam, pois, propostas interrelacionadas e tornam mais fácil todos os cidadãos encontrarem a sua proposta e comentarem outras já submetidas.</p>
    <br>

    <div>
      <div> <!-- as seen on goo.gl/mJiwTA needs refactor -->
        <% tag_cloud Proposal.tag_counts.sort_by!{ |tag| tag.name }, %w[s m l] do |tag| %>
          <a class="label label-default" href="<%= tag_path(tag.name) %>"><span><%= tag.name %></span></a>
        <% end %>
      </div>

    </div>

  </div>
</div>
