<p>Caro <%= @resource.email %>,</p>

<p>Alguém pediu um endereço para mudar a sua palavra-chave. Pode fazê-lo através do link em baixo.</p>

<p><%= link_to 'Mudar a minha palavra-chave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você a efetuar este pedido, por favor ignore este email.</p>
<p>A sua palavra-chave não será alterada se não aceder ao endereço em cima e definir uma nova palavra-passe.</p>
