<p>Caro <%= @resource.email %>,</p>

<p>A sua conta encontra-se suspensa por excesso de número de  tentativas falhadas de autenticação.</p>

<p>Clique no link em baixo para desbloquear a sua conta:</p>

<p><%= link_to 'Desbloquear a minha conta', unlock_url(@resource, unlock_token: @token) %></p>
